/* Custom Stylesheet *
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 100px;
  background-color: #eceff1; }

nav ul a,
nav .brand-logo {
  color: #444; }

.flow-text {
  font-size: 1.2rem; }

.learn-nav {
  font-weight: 100;
  padding: 0 10px 10px 10px;
  color: #fff; }

.learn-nav a {
  color: #fff; }

.content {
  margin-top: 30px; }

.collapsible-body {
  padding: 1rem; }

.collapsible-body p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.collapsible-body span {
  padding: 2rem; }

.profile-image {
  max-width: 200px;
  max-height: 200px; }

.username {
  font-size: 2em; }

.name {
  font-size: 1.5em; }

.bio {
  font-size: 1em; }

.tab-content {
  margin-top: 30px; }

.center {
  margin: 0 auto; }

.mirg {
  margin-left: 5px; }

.project a {
  color: #263238; }

.theatre {
  background-color: #263238;
  height: 500px;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px; }

.player {
  display: table;
  margin: 0 auto; }

.comment-view {
  padding: 5px;
  margin-bottom: 5px; }

.fav {
  color: red; }

.unfav {
  color: grey; }

.comments {
  background-color: #fff; }

.comment {
  margin-top: 5px; }

footer {
  height: 100px;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  color: white; }

.facebook-blue {
  color: #3B5998; }

.twitter-blue {
  color: #4099FF; }

.github-black {
  color: #000000; }

.google-red {
  color: #d62d20; }

p {
  line-height: 2rem; }

.button-collapse {
  color: #26a69a; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }

.parallax-container .section {
  width: 100%; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; } }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; } }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

footer.page-footer {
  margin: 0; }

.forms {
  max-width: 500px; }

/* label color */
.input-field label {
  color: #263238; }

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
  color: #263238; }

/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
  border-bottom: 1px solid #263238;
  box-shadow: 0 1px 0 0 #263238; }

/* valid color */
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field input[type=password].valid {
  border-bottom: 1px solid #263238;
  box-shadow: 0 1px 0 0 #263238; }

/* invalid color */
.input-field input[type=text].invalid, .input-field input[type=email].invalid, .input-field input[type=password].invalid {
  border-bottom: 1px solid #263238;
  box-shadow: 0 1px 0 0 #263238; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: #263238; }

.pagination li.active {
  background-color: #263238;
  color: white; }

blockquote {
  border-left: 5px solid #263238; }

/*# sourceMappingURL=app.css.map */
